@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    font-family: 'Inter', 'sans-serif';
    margin: 0;
    padding: 0;
}

body,html{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: default;
    user-select: none;
}

h1{
    color: black;
}

/* -- Navbar --  */

.navbar{
    background-color: #312FA7;
    display: block;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position:fixed;
    top: 0;
    z-index: 2;
}

.navbar li{
    list-style-type: none;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    padding: 20px 70px;
    gap: 2.5rem;
    justify-content: space-around;
    align-items: center;
}

.navbar li a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.navbar-active-link{
    font-size: 1rem;
    color: #F29D38 !important;
    text-decoration: underline !important;
}


.logo{
    display: flex;
    height: 50px;
    width: 50px;
}

.logo img{
    width: 100%;
    height: auto;
}

.right-nav{
    margin-left: auto;
}

.right-nav i{
    font-size: 1.875rem;
    color: white;
}

/* -- All Sections -- */

.section{
    padding-top: 5rem;
    overflow: hidden;
}

/* -- Section 1 -- */

.sec1{
    margin: 0;
    height: 40rem;
    overflow: hidden;
    position: relative;
}
.sec1-header{
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 5%;
    width: 70rem;
}

.sec1-header h1{
    font-size: 5rem;
    color: white;
    width: 70rem;
}

.sec1-header-top-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.sec1-header-top-wrapper h2{
    font-weight: inherit;
    color: white;
}

.sec1-header-top-logo{
    display: flex;
    width: 5rem;
    height: 5rem;
}

.sec1-header-top-logo img{
    width: 100%;
    height: auto;
}

/* -- Section 1 Background -- */
.sec1 video {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.5);
}

.sec1-background{
    display: none;
    width: 100%;
    height: 100%;
}

.sec1-background img{
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(.5);
}

/* -- Section 2 -- */
.sec2{
    background: linear-gradient(to bottom, #EEF2FF, #CBE5F8);
    overflow: hidden;
    height: 35rem;
}

.sec2-contents{
    margin: 0 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec2-contents-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    gap: 1rem;
}

.sec2-contents-header h2{
    font-size: 3rem;
}

/* -- Section 2 Cards -- */
.sec2-card-wrapper{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.sec2-card-container{
    display: flex;
    flex-direction: row;
    border: solid 1px #e9860e;
    background-color: white;
    transition: scale 0.3s ease-in-out;
    cursor: default;
}

.sec2-card-container:hover{
    scale: 1.05;
}

.sec2-card-content.left{
    padding: 1rem;
    background-color: #e9860e;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

.sec2-card-content.right{
    padding: 0 1rem;
}

/* -- Section 3 -- */
.sec3{
    margin: 0;
    overflow: hidden;
}

/* -- Section 3 Cards -- */
.sec3-card-wrapper{
    margin: 0;
}

.sec3-card-wrapper-row{
    display: flex;
    flex-direction: row;
}

.sec3-card-container{
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    transition: 0.3s ease-in-out;
    overflow: clip;
}

.sec3-card-content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.sec3-card-content h3{
    font-size: 2rem;
}

.sec3-card-content a{
    text-decoration: none;
    border: solid 1px #F29D38;
    padding: .5rem 1rem;
    color: white;
    transition: 0.3s ease-in-out;
}

.sec3-card-content a:hover{
    background-color: #e9860e;
}

.sec3-card.left{
    background-image: url(/assets/images/pelabuhan.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    transition: 0.5s ease-in-out;
    filter: brightness(.5);
}

.sec3-card.right{
    width: 100%;
    height: auto;
    background-image: url(/assets/images/pelabuhan_petta.JPG);
    background-size: cover;
    background-position: center;
    transition: 0.5s ease-in-out;
    filter: brightness(.5);
}

.sec3-card.left, .sec3-card.right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3-card.left:hover, .sec3-card.right:hover{
    scale: 1.1;
}

/* -- Section 4 -- */
.sec4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    background: linear-gradient(to bottom, #EEF2FF, #CBE5F8);
}

.sec4 h2{

    margin-bottom: 3rem;
    font-size: 3rem;

}

.sec4 a{
    text-decoration: none;
    color: black;
}

.sec4-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.sec4-card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.sec4-card-container{
    background-color: white;
    border-radius: 1rem;
}

.sec4-card-content{
    padding: 1rem 2rem;
}

.sec4-card-content p{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    margin-top: 1rem;
}

.sec4-card-content p i{
    font-size: 2rem;
}

.sec4-card-image-frame{
    border-radius: 5px;
    display: flex;
    width: 40rem;
    height: 20rem;
    background-image: url(/assets/images/pelabuhan_tahuna.jpeg);
    background-size: cover;
    background-position: center;
}

/* -- Footer -- */

.footer{
    background-color: #74716d;
}

.footer-bottom {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background-color: #312FA7;
}

.footer-contents{
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem;
    justify-content: space-evenly;
    align-items: center;
}

.footer-content.left{
    margin: 0;
    width: 35rem;
}

.footer-content-left-btn{
    margin: 0;
    display: flex;
    background-color: #e9860e;
    width: fit-content;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.footer-content-left-btn:hover{
    background-color: #d57b0c;
}

.footer-content-left-btn a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.footer-content.left p{
    margin-bottom: 1rem;
}

.footer-content-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.footer-content-header-logo{
    display: flex;
    width: 3rem;
    height: 3rem;
}

.footer-content-header-logo img{
    width: 100%;
    height: auto;
}


.footer-content.right{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 30%;
}

.footer-content-nav ul li{
    list-style: none;
    margin-bottom: 1rem;
}

.footer-content-nav{
    color: white;
}

.footer-content-nav ul{
    margin-top: 2rem;
}

.footer-content-subscription{
    margin: 0;
    color: white;
}

.footer-content-subscription form input,button{
    background: none;
    border: none;
    width: fit-content;
}

.footer-content-subscription form input{
    width: 100%;
}

.footer-content-subscription form input:focus{
    outline: 0;
}

.footer-content-subscription form{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 5px;
}

.footer-content-subscription button{
    background-color: #e9860e;
    color: white;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.footer-content-subscription button:hover{
    background-color: #d57b0c;
}

.footer-content-subscription button i{
    transform: rotate(-40deg);
    font-size: 1.5rem;
}

/* -- Style for other media -- */


@media (max-width:394px){

    .sec1 video {
        display: none !important;
    }

    .sec1{
        height: 25rem;
    }

    .sec1-header{
        width: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sec1-header-top-wrapper{
        flex-direction: column;
    }

    .sec1-header-top-wrapper h2{
        font-size: 1rem;
        width: 400px;
    }
    
    .sec1-background{
        display: flex !important;
    }

    .sec1-header h1,span{
        font-size: 2rem !important;
        width: 300px !important;
        line-height: 1.3;
    }

    .sec2{
        padding: 3rem 1rem !important;
    }

    .sec2-contents-header h2, p{
        text-align: center;
    }

    .sec2-contents-header{
        margin-bottom: 2rem;
    }

    .sec2-card-wrapper{
        flex-direction: column;
    }

    .sec3-card-wrapper-row{
        flex-direction: column;
    }

    .sec3-card-content{
        top: 50%;
        width: 300px;
    }

    .sec4{
        padding: 2rem 1rem !important;
    }

    .sec4-card-wrapper{
        flex-direction: column;
        gap: 2rem !important;
    }

    .sec4-card-image-frame{
        width: 19rem !important;
        height: 20rem !important;
        background-position: center;
    }

}

/* -- Small Laptop -- */

@media (max-width:1366px){

    .sec1 video {
        display: flex;
    }
    
    .sec1-background{
        display: none;
    }


    .sec1-header h1, span{
        font-size: 4rem;
        width: 800px;
    }

    .sec3-card-container{
        height: 400px;
    }

    .sec2-contents{
        margin: 0 3rem;
    }

    .sec4-card-wrapper{
        justify-content: inherit;
        gap: 1rem;

    }

    .sec4-card-image-frame{
        width: 35rem;
        height: 20rem;
    }

    .footer-content.right{
        width: 40%;
    }

}

