@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    font-family: 'Inter', 'sans-serif';
    margin: 0;
    padding: 0;
}

body,html{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1{
    color: black;
}

/* -- Navbar --  */

.navbar{
    background-color: #312FA7;
    display: block;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position:fixed;
    top: 0;
    z-index: 2;
}

.navbar li{
    list-style-type: none;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    padding: 20px 70px;
    gap: 2.5rem;
    justify-content: space-around;
    align-items: center;
}

.navbar li a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.navbar-active-link{
    font-size: 1rem;
    color: #F29D38 !important;
    text-decoration: underline !important;
}


.logo{
    display: flex;
    height: 50px;
    width: 50px;
}

.logo img{
    width: 100%;
    height: auto;
}

.right-nav{
    margin-left: auto;
}

.right-nav i{
    font-size: 1.875rem;
    color: white;
}


/* -- Contents -- */

.contents{
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: linear-gradient(to bottom, #EEF2FF, #CBE5F8);
}

.contents-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.contents-header h1{
    margin-bottom: 2rem;
}

.contents-wrapper{
   padding: 0 3rem;
}

/* -- Card Wrapper -- */
.wrapper-card-row{
    display: flex;
    gap: 2rem;
}


.card-container{
    background-color: white;
    border-top: solid 1rem #312FA7;
    border-radius: 1rem;
    width: 100%;
}

.card-container.main{
    background-color: whitesmoke;
    border: none;
    width: 100%;
    border-radius: 1rem;
    border-top: solid 1rem #312FA7;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.card-contents{
    height: 100%;
}

.card-contents-header{
    padding: 1rem 2rem;
}

.card-contents-header.stats{
    padding: 0 2rem;
}

.card-contents-header h3{
    font-size: 1.5rem;
}

/* -- Card Wrapper Mid -- */
.wrapper-card-row.mid{
    margin-top: 2rem;
}



/* -- Contents Card -- */

.card-content-top-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 2rem;
    justify-content: space-between;
}

.card-content-top-wrapper form{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px gray;
    padding-left: 1rem;
    justify-content: space-between;
    border-radius: 5px;
    width: 20%;
}

.card-content-top-wrapper form input,button{
    background: none;
    border: none;
}

.card-content-top-wrapper form button{
    padding-right: .5rem;
}

.card-content-top-wrapper form input{
    width: 100%;
}

.card-content-top-wrapper form input:focus{
    outline: none;
}

.card-top-filter-container{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.card-top-filter-btn{
    background-color: #74716d;
    display: flex;
}

.card-top-filter-btn.active{
    background-color: #a4a4a3;
}

.card-top-filter-btn a{
    padding: .5rem .5rem;
    text-decoration: none;
    color: white;
}

/* -- Contents Card Table -- */

.card-table-container{
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow-x: scroll;
}

.card-table-container table{
    width: 100%;
    border-collapse: collapse;
}

.card-table-container table th, td{
    text-align: start;
    padding: 1rem 2rem;
}

.card-table-container table th{
    border-top: solid 1px gray;
    border-bottom: solid 2px gray;
}

.card-table-container table td{
    background-color: #f3f3f3;
}

/* -- Contents Card Bottom -- */

.card-contents-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    padding-bottom: 2rem;
}

.card-contents-bottom-nav-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.card-contents-bottom-nav-number-btn{
    background-color: #a4a4a3;
    display: flex;
    border-radius: 5px;
}

.card-contents-bottom-nav-number-btn.active{
    background-color: #312FA7;
}

.card-contents-bottom-nav-number-btn a{
    text-decoration: none;
    color: white;
    padding: .5rem 1rem;
}

/* -- Card Map -- */

.card-contents.map .card-content-frame{
    height: 80%;
    
}

.card-content-frame{
    height: 500px;
    display: flex;
    margin: 2rem;
}

.card-content-frame-map{
    width: 100%;
}

.card-content-frame-map iframe{
    width: 100%;
    height: 100%;
}

/* -- Graph Card -- */

svg{
    width: 100%;
    height: 100%;
    overflow: clip;
}

.rect-container{
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
}

#rect-container{
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
}

rect{
    transition: all 0.3s ease-in-out;
}

.label-line{
    filter:brightness(1.5);
    
}


.label-box{
    background-color: #4240d1;
    padding: 1rem;
}

.in-active{
    filter: brightness(.5);
}


/* -- Graph Content Animation-- */

@keyframes slideUp{
    from {
        transform: translateY(100%);
        height: 0;
    }

    to{
        transform: translateY(0);
        height: 100px;
    }
}

@keyframes slideDown {
    from{
        transform: translateY(0);
        height: 100px;
    }
    to{
        height: 0;
        transform: translateY(100%);
    }
}

.animate-up{
    animation: slideUp 1s ease-out forwards;
}

.animate-down{
    animation: slideDown 1s ease-in forwards;
}

/* -- Card Stock -- */

.card-content-frame-container{
    display: flex;
    width: 100%;
    height: 300px;
}

.wave-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1rem 2rem;
}

.card-stock-label-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem 2rem;
}

.label{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}


.label p{
    width: fit-content;
    margin: 0;
}

/* -- Card Stock Labels Color -- */

.card-stock-label-color{
    width: 1rem;
    height: 1rem;
}

.card-stock-label-color.deepskyblue{
    background-color: #00BFFF;
}
.card-stock-label-color.silver{
    background-color: #C0C0C0;
}

.card-stock-label-color.darkblue{
    background-color: #00008B;
}

.card-stock-label-color.orangered{
    background-color: #FF4500;
}

.card-stock-label-color.limegreen{
    background-color: #00FF00;
}

.card-stock-label-color.gold{
    background-color: #FFD700;
}














/* -- Footer -- */

.footer{
    background-color: #74716d;
}

.footer-bottom {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background-color: #312FA7;
}

.footer-contents{
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem;
    justify-content: space-between;
    align-items: center;
}

.footer-content.left{
    margin: 0;
}

.footer-content-left-btn{
    margin: 0;
    display: flex;
    background-color: #e9860e;
    width: fit-content;
    border-radius: 5px;
}
.footer-content-left-btn a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.footer-content.left p{
    padding: 1rem;
}

.footer-content.left p{
    margin-bottom: 1rem;
}

.footer-content-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.footer-content-header-logo{
    display: flex;
    width: 3rem;
    height: 3rem;
}

.footer-content-header-logo img{
    width: 100%;
    height: auto;
}


.footer-content.right{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 30%;
}

.footer-content-nav ul li{
    list-style: none;
    margin-bottom: 1rem;
}

.footer-content-nav{
    color: white;
}

.footer-content-nav ul{
    margin-top: 2rem;
}

.footer-content-subscription{
    margin: 0;
    color: white;
}

.footer-content-subscription form input,button{
    background: none;
    border: none;
    width: fit-content;
}

.footer-content-subscription form input{
    width: 100%;
}

.footer-content-subscription form input:focus{
    outline: 0;
}

.footer-content-subscription form{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 5px;
}

.footer-content-subscription button{
    background-color: #e9860e;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.footer-content-subscription button i{
    transform: rotate(-40deg);
    font-size: 1.5rem;
}


@media(max-width:1366px){
    .rect-one{
       transform: translateX(35px);
    }

    .rect-two{
        transform: translateX(60px);
     }

     .rect-three{
        transform: translateX(85px);
     }
     .rect-four{
        transform: translateX(110px);
     }
     .rect-five{
        transform: translateX(135px);
     }
     .rect-six{
        transform: translateX(160px);
     }
}

