@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    font-family: 'Inter', 'sans-serif';
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

h1{
    color: black;
}

/* -- Navbar --  */

.navbar{
    background-color: #312FA7;
    display: block;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position:fixed;
    top: 0;
    z-index: 1;
}


.navbar p {
    color: white;
    font-weight: bold;
}

.navbar li{
    list-style-type: none;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    padding: 20px 70px;
    gap: 2.5rem;
    justify-content: space-around;
    align-items: center;
}

.navbar li a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.navbar-active-link{
    font-size: 14px;
    color: #F29D38 !important;
    text-decoration: underline !important;
}


.logo{
    margin-right: 0;
}

.logo img{
    height: 50px;
    width: 50px;
    padding: 0;
}

.right-nav{
    margin-left: auto;
}

.right-nav i{
    font-size: 30px;
    color: white;
}

/* -- Contents -- */
.contents{
display: flex;
flex-direction: row;
padding-top: 5.5rem;
height:100dvh;
background: linear-gradient(to bottom, #EEF2FF, #CBE5F8);
width: 100%;
}

/* -- Sidebar -- */

.sidebar{
    background-color: #312FA7;
    color: white;
    position: fixed;
    height: 100%;
}

.sidebar-link-container{
    padding: 0 2rem;
    height: 100%;

}

.sidebar-link-container li{
    margin: 2rem 0;
    list-style: none;
}

.sidebar-link-container li a {
    color:white;
    text-decoration: none;
}

.content-right{
    margin-left: 14rem;
    margin-top: 5rem;
    width: 100%;
    margin-right: 5rem;
}

.content-right h1{
    font-size: 40px;
}

.content-right h3{
    font-size: 20px;
}

.content-right-header{
    margin-bottom: 1rem;
}

/* -- Cards -- */

.card{
    border-top: solid 1rem #312FA7;
    border-radius: 1rem;
    width: 100%;
    background-color: white;
    margin-bottom: 2rem;
}

.card-information-website{
    border-top: solid 1rem #312FA7;
    border-radius: 1rem;
    width: 100%;
    background-color: white;
    margin-bottom: 2rem;
}
.card-user-settings{
    border-top: solid 1rem #312FA7;
    border-radius: 1rem;
    width: 100%;
    background-color: white;
    margin-bottom: 2rem;
}
.card-stats{
    border-top: solid 1rem #312FA7;
    border-radius: 1rem;
    background-color: white;
    width: 100%;
}

.card-pelabuhan{
    border-top: solid 1rem #312FA7;
    border-radius: 1rem;
    width: 100%;
    background-color: white;
    margin-right: 1rem;
}

.card-calendar{
    border-top: solid 1rem #312FA7;
    border-radius: 1rem;
    width: 100%;
    background-color: white;
}

.card-contents{
    margin: 0;
    padding: 1rem;
}

.card-contents h2{
    margin-bottom: 1rem;
}

.card-contents p{
    margin-bottom: 1rem;
}


.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card-wrapper{
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-button-wrapper a{
    text-decoration: none;
    margin: 0;
    padding: 10px;
}

/* -- Card-Button -- */
.card-button-wrapper{
    text-align: end;
}

.card-button{
    color: white;
    padding: 10px;
    font-size: 14px;
    background-color: #312FA7;
    font-weight: bold;
    border-radius: 5px;
}

/* -- Card-Image -- */
.card-pelabuhan-frame{
    display: flex;
    width: 100%;
    height: 300px;
}

.card-pelabuhan-frame iframe{
    width: 100%;
    height: auto;
}
