@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    font-family: 'Inter', 'sans-serif';
    margin: 0;
    padding: 0;
}

body, html{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #EEF2FF, #CBE5F8);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 100%;
    width: 100%;

}


h1{
    color: black;
}

/* -- Navbar --  */

.navbar{
    background-color: #312FA7;
    display: block;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position:fixed;
    top: 0;
    z-index: 1;
}


.navbar p {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.navbar li{
    list-style-type: none;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    padding: 1.25rem 2rem;
    gap: 1rem;
    align-items: center;
}

.navbar li a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.navbar-active-link{
    font-size: 14px;
    color: #F29D38 !important;
    text-decoration: underline !important;
}


.logo{
    display: flex;
    height: 50px;
    width: 50px;
}

.logo img{
    height: auto;
    width: 100%;
    padding: 0;
}

.right-nav{
    margin-left: auto;
}

.right-nav i{
    font-size: 30px;
    color: white;
}

/* -- navbar-bottom -- */

.navigation-bottom {
    display: none;
}


/* -- Contents -- */
.contents{
    margin-left: 20rem;
    margin-right: 5rem;
    padding: 10rem 0;
}

/* -- Sidebar -- */

.sidebar{
    background-color: #312FA7;
    color: white;
    position: fixed;
    height: 100%;
    margin-top: 5.6rem;
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}
li a {
    color:white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

li a i {
    margin-right: 10px;
}

.sidebar-link-active{
    background-color: #6665cf;
    border-left: solid 10px #4240d1;
}

.content-right{
    margin-left: 20rem;
    margin-right: 25rem;
    width: 100%;
    margin-right: 5rem;
    overflow-x: hidden;
    height: 100%;
}

.content-right h1{
    font-size: 40px;
}

.content-right h3{
    font-size: 20px;
}

.content-right-header{
    margin-bottom: 1rem;
}

/* -- Sidebar -- */

.sidebar{
    background-color: #312FA7;
    color: white;
    position: fixed;
    height: 100%;
    margin-top: 5.6rem;
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}

li a {
    color:white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 3rem;
    width: 100%;
}

 li a i {
    margin-right: 10px;
}

.sidebar-link-active{
    background-color: #6665cf;
    border-left: solid 10px #4240d1;
}

/* -- Sidebar-contents -- */

.logout a i{
color: rgb(177, 71, 71);
}

.sidebar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 2rem;
}

.sidebar-header-text h3{
    margin-bottom: 5px;
}

.sidebar-header-logo{
    display: flex;
    width: 70px;
    height: 70px;

}

.sidebar-header-logo img{
    width: 100%;
    height: auto;
}

.sidebar-account-footer{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    padding-left: 2rem;
    gap: 1rem;
    align-items: center;
}

.sidebar-account-footer h3{
    font-size: 1rem;
}

.sidebar-account-footer-image{
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 90rem;
    border: solid 1px white;
    overflow: clip;
}

.sidebar-account-footer-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* -- Card -- */
.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    background-color: white;
    margin-bottom: 2rem;
    padding: 0 2rem;
    border-radius: 5rem;
    width: 40%;
    max-width: 500px;

}

.search-container input{
    background: none;
    border: none;
    padding: 1rem 0;
    width: 100%;
}

.search-container input:focus{
    outline: none;
}

/* -- Card -- */
.card-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card-pengaturan{
    background-color: white;
    border-left: solid 1.5rem #312FA7;
    border-radius: 1rem;
    padding: 1rem 0;
}

.card-pengaturan h2{
    padding: 1rem 2rem;
}

.card-pengaturan-options{
    padding: 0 2rem;
    padding-right: 3rem;
    padding-top: 1rem;
}

.card-pengaturan-options-button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-pengaturan-options-button-wrapper a{
    text-decoration: none;
}

.card-pengaturan-options-btn{
    background-color: #312FA7;
    color: white;
    padding: .5rem;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.card-pengaturan-options-btn:focus {
    border-radius: 0px 0px 5px 5px;
}

.card-pengaturan-options-btn:focus .card-pengaturan-options-btn-overlay{
    display: block;
}

/* -- Card Overlay -- */
.card-pengaturan-options-btn-container{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.card-pengaturan-options-btn-overlay{
    display: none;
    background-color: #312FA7;
    border-radius: 5px 5px 0px 0px;
}

.card-pengaturan-options-btn-overlay li{
    margin: 1rem 0;
    color: white;
    padding: 0 10px;
}



/* -- Date Time -- */
#datetime{
    background-color: rgb(214, 214, 214);
    font-size: 1rem;
    color: #2e2e2e;
    padding: 10px;
    border-radius: 5px;
}








/* -- Styles for mobile devices -- */

/* -- Mobile Phones -- */